header, footer {
    background-color: rgb(159, 55, 73);
    display: flex;
    flex-direction: row;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-family:'Times New Roman', Times, serif;
}